body { background: #d14911; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 15px; display: flex; }
.block-cart-0 { color: #382451; font-size: 16px; margin-bottom: 5px; }
.block-order-1 { color: #5ad4cb; font-size: 15px; margin-bottom: 5px; }
.block-helper-2 { color: #fc97b5; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #46544d; font-size: 15px; margin-bottom: 5px; }
.block-router-4 { color: #761abc; font-size: 14px; margin-bottom: 5px; }
.block-helper-5 { color: #28f423; font-size: 18px; margin-bottom: 5px; }